<footer class="footer">
  <div class="footer__inner">
    <div>&copy; {{ 'now' | date: '%Y' }} {{ site.data.bio.basics.name }}</div>
    <div class="footer__socials">
      {% capture url %}mailto:{{ site.data.bio.basics.email }}{% endcapture %}
      {% include about/social.html url=url name='envelope' %}
      {% for profile in site.data.bio.basics.profiles %}
        {% capture purl %}{{ profile.url }}{% endcapture %}
        {% capture pname %}{{ profile.network | downcase }}{% endcapture %}
        {% include about/social.html url=purl name=pname %}
      {% endfor %}
    </div>
  </div>
</footer>
