<section id="about" class="hero">
  <div class="container">
    <div class="hero__inner">
      <img class="hero__photo" src="{{ site.data.bio.basics.picture }}" alt="{{ site.data.bio.basics.name }}">
      <div>
        <h1 class="hero__name">{{ site.data.bio.basics.name }}</h1>
        <p class="hero__label">{{ site.data.bio.basics.label }}{% if site.data.bio.basics.location.city %} &middot; {{ site.data.bio.basics.location.city }}, {{ site.data.bio.basics.location.countryCode }}{% endif %}</p>
        <p class="hero__summary">{{ site.data.bio.basics.summary }}</p>
        <div class="hero__actions">
          <a class="btn btn--primary" href="mailto:{{ site.data.bio.basics.email }}">
            <svg class="tf-social"><use xlink:href="{{ '/img/bootstrap-icons.svg' | prepend: site.baseurl }}#envelope"/></svg>
            <span>Email</span>
          </a>
          {% for profile in site.data.bio.basics.profiles %}
            <a class="btn" href="{{ profile.url }}" target="_blank" rel="noopener">
              <svg class="tf-social"><use xlink:href="{{ '/img/bootstrap-icons.svg' | prepend: site.baseurl }}#{{ profile.network | downcase }}"/></svg>
              <span>{{ profile.network | capitalize }}</span>
            </a>
          {% endfor %}
          <a class="btn" href="{{ '/assets/Pouderoux_Kilian_EN.pdf' | prepend: site.baseurl }}" target="_blank" rel="noopener">
            <svg class="tf-social"><use xlink:href="{{ '/img/bootstrap-icons.svg' | prepend: site.baseurl }}#file-earmark-text"/></svg>
            <span>Resume PDF</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
