{%- assign url = '/' | prepend: site.baseurl | prepend: site.url -%}
{%- assign title = site.title -%}
{%- assign description = site.description -%}

{%- if page.url != '/' -%}
  {%- if page.url -%}
    {%- assign url = page.url | prepend: site.baseurl | prepend: site.url -%}
  {%- endif -%}
  {%- if page.title -%}
    {%- assign title = page.title | append: ' | ' | append: site.title  -%}
  {%- endif -%}
  {%- if page.description -%}
    {%- assign description = page.description -%}
  {%- endif -%}
{%- endif -%}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="{{ title | xml_escape }}">
    <meta name="description" content="{{ description | xml_escape }}">
    <meta name="image" content="{{ site.data.bio.basics.picture }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ site.title | xml_escape }}">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:title" content="{{ title | xml_escape }}">
    <meta property="og:description" content="{{ description | xml_escape }}">
    <meta property="og:image" content="{{ site.data.bio.basics.picture }}">
    <link rel="shortcut icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ '/css/site.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/rouge/{{ site.rouge-theme}}">

    {% if site.mathjax %}
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML"></script>
    {% endif %}

    <title>{{ title }}</title>
  </head>
  <body>
  {{ content }}
  </body>
</html>
